@import "progress.css";

 


.close-sub-menu {
   display: none;
}

.open-sub-menu {  
  display: block;
}


.open-nav-open,
.close_side_nav,
.content-expand,
.main-body,
.close-icon,
.open-icon {
  transition: all .5s ease-in-out;
}

.open-nav-open {
  width: 280px;
}

.close_side_nav {
  width: 0 !important;
}
.content-expand {
  width: 100% !important;
}

.main-body {
  width: calc(100% - 280px);
}
.close-icon {
  opacity: 0;
  visibility: hidden;
}
.open-icon {
  opacity: 1;
  visibility: visible;
}
