@import "progress.css";

 


.close-sub-menu {
   display: none;
}

.open-sub-menu {  
  display: block;
}


.open-nav-open,
.close_side_nav,
.content-expand,
.main-body,
.close-icon,
.open-icon {
  transition: all .3s ease-in-out;
}

.open-nav-open {
  width: 250px;
}

.close_side_nav {
  width: 0 !important;
}
.content-expand {
  width: 100% !important;
}

.main-body {
  width: calc(100% - 250px);
}
.close-icon {
  opacity: 0;
  visibility: hidden;
}
.open-icon {
  opacity: 1;
  visibility: visible;
}
.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis !important;
  display: inline-block !important;
}
 
.menu-icon svg {
  transform: rotate(90deg);
  color: #ffa901;
  transition: all .3s ease-in-out;
}
.menu-rv-icon svg {
  transform: rotate(0deg);
  color: unset;
  transition: all .3s ease-in-out;
}
